/* h1{
    color: red;
    font-size: 5rem;
    border: 5px solid black;
    padding: 1rem;
    margin: 1rem;
    text-align: center;
} */

/* css reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header/hero section  */
#header{
    width: 100%;
    height: auto;
}

/* #header .container{
    width: 90%;
    margin: auto;
    display: flex;
}

#header .container .box{
    padding: 2rem;
    background-color: rebeccapurple;
    margin: 1rem;
    border-radius: 1.5rem;
} */

header {
    width: 100%;
    height: 100vh;
}

header img{
    width: 100%;
    height: 100%;
}