* {
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  height: 100vh;
  /* background-color: red; */
  background-image: url(./image.jpg);
  background-size: cover;
  background-position: center center;
}

header .navbar {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  background-color: rgba(231, 224, 224, 0.829);
  height: 10vh;
  border-radius: 70px;
}

header .navbar .content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

header .navbar .content p{
    margin-left: 100px;
    font-family: "Poppins", sans-serif;
}
